<div class="border-bottom row" style="margin-bottom:36px; padding-bottom:12px;">
  <div class="col-9">
     <h4 style="color:rgb(10,120,120); margin-bottom:4px;">
    {{items['Part_number']}}
 </h4> 
     <div><b>
          Product Name: 
     </b>
           {{items['Part_name']}}
     </div>
     <div>
          <b>Tested :  
          </b>
          {{items['Tested_at']}}
     </div>
     <div>
          <b>
               Failure Type : 
          </b> 
          {{items['Failure_type']}}
     </div>
  </div>
     <div class="col-3">
               
     <button class="btn btn-primary" type="button">Faiure Info</button>
     
     </div>
</div>